@import "theme.scss";
:host {
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    vertical-align: top;
    margin: 3px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    transition: .4s;
    border-radius: 15px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
  }
  input:checked+.slider {
    background-color: $secondaryColor;
  }
  input:checked+.slider:before {
    transform: translateX(12px);
  }
}