@import "theme.scss";

body {
  margin: 0;
}

a {
  color: #88898c;
}

#main {
  background-color: $primaryColor;
  color: #fbfbfc;
  border-radius: 3px;
  width: 250px;
  padding: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 19px;
  position: relative;
  overflow: hidden;
}

#main.no-player #track-art {
  display: none;
}

#controls {
  width: 250px;
  height: 110px;
  text-align: center;
  padding: 5px 0;
}

#playback-controls {
  position: relative;
  height: 75px;
}

.control {
  cursor: pointer;
  display: inline-table;
  vertical-align: middle;
}

i.fa {
  color: #aaa;
}

#previous,
#next {
  font-size: 28px;
  position: absolute;
  top: 25px;
}

#previous {
  left: 60px;
}

#next {
  right: 60px;
}

#previous:hover,
#next:hover {
  color: #fff;
  font-size: 30px;
}

#toggle {
  font-size: 76px;
  -webkit-text-stroke: 7px $primaryColor;
  position: absolute;
  left: 94px;
}

#toggle:hover {
  font-size: 78px;
  color: #fff;
}

#shuffle,
#repeat {
  font-size: 20px;
  -webkit-text-stroke: 1px $primaryColor;
}

#repeat {
  margin: 5px 10px;
}

#save {
  font-size: 20px;
  -webkit-text-stroke: 2px $primaryColor;
}

#shuffle.active,
#repeat.active,
#save.active {
  color: $secondaryColor;
}

#shuffle:hover,
#repeat:hover,
#save:hover {
  color: #fff;
}

#mute {
  font-size: 18px;
}

#mute:hover {
  color: #fff;
}

#volume-bar {
  width: 100px;
  height: 5px;
  border-radius: 3px;
  background-color: #3e3e40;
  margin-bottom: 10px;
  display: inline-table;
  cursor: pointer;
}

#volume-level {
  width: 50px;
  height: 5px;
  border-radius: 3px;
  background-color: $secondaryColor;
}

#track-artist {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#track-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#track-info {
  margin: 5px 20px 0;
  text-align: center;
  height: 50px;
}

#track-art {
  width: 210px;
  margin: 10px 20px 0;
}

#track {
  margin-top: 5px;
  color: #88898c;
}

#track-bar {
  width: 210px;
  height: 5px;
  border-radius: 3px;
  background-color: #3e3e40;
  margin-bottom: 10px;
  cursor: pointer;
}

#track-elapsed {
  float: left;
}

#track-length {
  float: right;
}

#track-progress {
  width: 100px;
  height: 5px;
  border-radius: 3px;
  background-color: $secondaryColor;
}

#notification {
  margin-top: 10px;
  text-align: center;
  color: #88898c;
  font-size: 14px;
  display: none;
}

#main.no-player #notification {
  display: block;
}

#notification a {
  color: #88898c;
}

.hidden {
  display: none;
}

#lyrics {
  max-height: 85px;
  padding: 17px 0 5px 0;
  margin: 0 10px;
}

#lyrics a {
  color: #ccc;
}

#lyrics p {
  max-height: 100px;
  color: #88898c;
  font-size: 12px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 14px;
}

#lyrics-text {
  white-space: pre-line;
}

#credits {
  color: #88898c;
  padding: 0 10px;
  font-size: 11px;
}

#donation {
  vertical-align: super;
}

#settings-btn {
  position: absolute;
  top: -22px;
  right: 35px;
  background: $primaryColor;
  border: 1px solid #444;
  padding: 2px 7px 0 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
}

#settings {
  position: absolute;
  height: 160px;
  color: #88898c;
  padding: 0 10px;
  font-size: 11px;
  width: 100%;
  left: -2px;
  bottom: -160px;
  background: $primaryColor;
  border: 1px solid #666;
  transition: .2s;
}

#settings.open {
  transform: translateY(-160px);
}

#settings i.fa {
  color: $secondaryColor;
}

#settings-notifications {
  margin-left: 10px;
}

input#settings-notification-duration {
  width: 24px;
  border-radius: 10px;
  padding-left: 6px;
  padding: 0 0 0 6px;
  outline: none;
  user-select: none;
}

input#settings-notification-duration::-webkit-inner-spin-button,
input#settings-notification-duration::-webkit-outer-spin-button {
  opacity: 1;
}
